//  ~\blog\assets\scss\custom.scss
/*---------------全局设置-------------*/
:root {
  --card-border-radius: 20px; //小卡片圆角
  --article-font-size: 1.7rem; // 全局字体大小
  // --card-background: #ffffff;//小卡片背景颜色
  // --body-text-color: rgba(171, 169, 169, 0.58);//字体颜色
}

//-------------------------------------------
/*选中文字颜色*/
::selection {
  color: #fff;
  background: #557697;
}

a {
  text-decoration: none;
  color: var(--accent-color);

  &:hover {
    color: var(--accent-color-darker);
  }

  //修改链接颜色
  &.link {
    color: #4288b9ad;
    font-weight: 600;
    padding: 0 2px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

//----------------------------------------------------------
/*主页文章图片样式*/
.article-list article .article-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;

  //不同显示器（手机，小屏幕电脑，大屏幕电脑）显示的图片高度大小
  @include respond(sm) {
    height: 305px;
  }

  @include respond(md) {
    height: 305px;
  }

  @include respond(xl) {
    height: 325px;
  }
}

/*文章标签圆角*/
.article-category a,
.article-tags a {
  border-radius: 11px;
}

/*鼠标移动到文章图片放大*/
$image-scale: 1.2;

.article-list article .article-image {
  position: relative;
  overflow: hidden; //不显示超出的部分
}

.article-list article .article-image img:hover {
  transform: scale($image-scale); //放大尺寸
}

.article-list article .article-image img {
  transition: transform 0.85s ease-in-out; //持续时间
}

//----------------------------------------------------
/*文章内部-页脚-相关文章图片圆角*/
.article-list--compact article .article-image img {
  border-radius: 17%;
}

/*文章内部-页脚-相关文章图片放大动画*/
.article-list--compact article>a {
  transition: .6s ease;
}

.article-list--compact article>a:hover {
  transform: scale(1.03, 1.03);
  overflow: visible;
}

//-------------------------------------------------------
//全局页面小图片样式微调
.article-list--compact article .article-image img {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: 17%;
}

/*--------------------左侧导航栏---------------*/

/*头像旋转动画*/
.sidebar header .site-avatar .site-logo {
  transition: transform 1.65s ease-in-out; //旋转时间

}

.sidebar header .site-avatar .site-logo:hover {
  transform: rotate(360deg); //旋转角度为360度
}


/*TODO 社交菜单居中*/

/*TODO 模式切换按钮距离上边按钮边距调整*/


/*------------------右侧导航栏--------------*/
/*搜索菜单动画*/
.search-form.widget {
  transition: transform 0.6s ease;
}

.search-form.widget:hover {
  transform: scale(1.1, 1.1);
}

// 修改首页搜索框样式
.search-form.widget input {
  font-size: 1.5rem;
  padding: 44px 25px 19px;
}

/*归档小图标放大动画*/
.widget.archives .widget-archive--list {
  transition: transform .3s ease;
}

.widget.archives .widget-archive--list:hover {
  transform: scale(1.05, 1.05);
}

/*右侧标签放大动画*/
.tagCloud .tagCloud-tags a {
  border-radius: 10px;
  font-size: 1.4rem;
  transition: transform .3s ease;
}

.tagCloud .tagCloud-tags a:hover {
  transform: scale(1.1, 1.1);
}

//----------------------------------------------------
/*文章内部-页脚-相关文章图片圆角*/
.article-list--compact article .article-image img {
  border-radius: 17%;
}


/*文章内部-页脚-相关文章图片放大动画*/
.article-list--compact article>a {
  transition: .6s ease;
}

.article-list--compact article>a:hover {
  transform: scale(1.03, 1.03);
  overflow: visible;
}


// ---------------------------------------
// 代码块样式修改
.article-content .highlight {
  background-color: var(--pre-background-color);
  padding: var(--card-padding);
  position: relative;

  max-width: 105% !important;
  margin-left: -1em;
  margin-right: -1em;
  border-radius: 20px;
  box-shadow: var(--shadow-l1);
  overflow-x: auto;
  max-height: 100vh;

  &:hover {
    .copyCodeButton {
      opacity: 1;
    }
  }

  // keep Codeblocks LTR
  [dir="rtl"] & {
    direction: ltr;
  }

  pre {
    margin: initial;
    padding: 0;
    margin: 0;
    width: auto;
  }
}

// light模式下的代码块样式调整
[data-scheme="light"] .article-content .highlight {
  background-color: #fff9f3;
}

[data-scheme="light"] .chroma {
  color: #ff6f00;
  background-color: #fff9f3cc;
}


-------------------------------------------------- 页面三栏宽度调整
.container {
  margin-left: auto;
  margin-right: auto;

  .left-sidebar {
    max-width: var(--left-sidebar-max-width);
  }

  .right-sidebar {
    max-width: var(--right-sidebar-max-width);

    /// Display right sidebar when min-width: lg
    @include respond(lg) {
      display: block;
    }
  }

  &.extended {
    @include respond(md) {
      max-width: 1024px;
      --left-sidebar-max-width: 25%;
      --right-sidebar-max-width: 30%;
    }

    @include respond(lg) {
      max-width: 1280px;
      --left-sidebar-max-width: 20%;
      --right-sidebar-max-width: 26%;
    }

    @include respond(xl) {
      max-width: 1536px;
      --left-sidebar-max-width: 15%;
      --right-sidebar-max-width: 25%;
    }

    @include respond(2xl) {
      max-width: 1800px;
      --left-sidebar-max-width: 15%;
      --right-sidebar-max-width: 25%;
    }
  }

  &.compact {
    @include respond(md) {
      --left-sidebar-max-width: 25%;
      max-width: 768px;
    }

    @include respond(lg) {
      max-width: 1024px;
      --left-sidebar-max-width: 20%;
    }

    @include respond(xl) {
      max-width: 1280px;
    }
  }
}


/*----------------归档页面---------------*/
/*归档页面卡片缩放*/
.article-list--tile article {
  transition: .6s ease;
}

.article-list--tile article:hover {
  transform: scale(1.03, 1.03);
}

/* 归档页面两栏 */
@media (min-width: 1024px) {
  .article-list--compact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    box-shadow: none;
    gap: 1rem;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: 16px;
    }
  }
}

/*--------------*-链接页面-----------------*/
/*友情链接设置成三栏样式*/
@media (min-width: 1024px) {
  .article-list--compact.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
    box-shadow: none;
    gap: 1rem;

    article {
      background: var(--card-background);
      border: none;
      box-shadow: var(--shadow-l2);
      margin-bottom: 8px;
      border-radius: var(--card-border-radius);

      &:nth-child(odd) {
        margin-right: 8px;
      }
    }
  }
}